fastapi==0.81.0
tortoise-orm[asyncpg]
tortoise-orm==0.18.1
google-cloud-storage==1.42.3
uvicorn==0.15.0
psycopg2==2.9.1
psycopg2-binary==2.9.2
python-dotenv==0.17.0
firebase-admin==5.3.0
beautifulsoup4==4.9.0
lunr==0.5.9
unidecode==1.1.2